:root {
    --primary-background: #1b1b1b;
    --primary-font-color: #d2d2d2;
    --primary-warn: #F44336;
    --primary-accent: #00ceff;
    --primary-transition: 0.25s ease;
    --secondary-font-color: #858585;
    --input-background: black;
    --input-placeholder: #757575;
    --dropdown-background: #0f0f0f;
}